$veryDarkBlue: hsl(233, 47%, 7%); // Main Background
$darkDesaturated: hsl(244, 38%, 16%); // Card Background
$softViolet: hsl(277, 64%, 61%); // Accent
$softViolet2: hsla(277, 64%, 61%, 0.5); // Accent

$white: hsl(0, 0%, 100%); // Main Heading, Stats
$transWhite1: hsla(0, 0%, 100%, 0.75); // Main Paragraph
$transpWhite2: hsla(0, 0%, 100%, 0.6); // Stat Headings
